
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <h2>Sony Headphones</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/headphone.jpg" style="width:300px; height:300px" />
            <p>
                Sony Wh-Ch510 Bluetooth Wireless On Ear Headphones
                Up-To 35Hrs Playtime Lightweight, Type-C, Play/Pause
                Control, 30Mm Driver, Bt Version 5.0 & Voice Assistant
                Support For Mobiles - Blue
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$24.25</a></p>
        </div>
        <div class="col-md-4">
            <h2>Realme Powerbank</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/powerbank.png" style="width:300px;height:300px" />
            <p>
                Realme 10000 mAh Power Bank (18 W, Quick Charge 3.0)
                (Yellow, Lithium Polymer) 12W Two-Way Fast Charge and
                Recharge with Dual Output & Input ports, Charge a 4500mAh
                phone 1.7 times and 3000mAh phone 2.1 times, Trendy, Sleek
                & Modern design (1.57 cm thickness), Both USB-A Ports
                support a maximum power of 12W (5V-2.4A) for single port
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$20.91</a></p>
        </div>
        <div class="col-md-4">
            <h2>Philips LED light bulb</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/bulb.png" style="width:300px; height:300px" />
            <p>
                PHILIPS 7W B22D Led Cool Day Light Bulb (929001143013)
                Bulb Base: B22, Color Temperature: 6500K, Lumen: 600,
                Equivalent Wattage: 60 watts, Low energy consumption
                and non-dimmable, Lifetime of 15,000 hours and UV and
                IR free light, Up to 40 percent energy saving (compared to CFL)
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$4.52</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Spice Storage Jars Pack-6</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/jars.jpg" style="width:300px; height:300px" />
            <p>
                AARAV HOUSE - 500 Ml Ball Mason Glass Jar & Container
                with Air Tight Silver Metal Lid, Grocery, Dry Fruit,
                Spice Storage Jars Pack-6
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$6.05</a></p>
        </div>
        <div class="col-md-4">
            <h2>L'Oréal Shampoo</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/shamppo.jpg" style="width:300px;height:300px" />
            <p>
                L'Oréal Professionnel Absolut Repair Shampoo With
                Protein And Gold Quinoa For Dry And Damaged Hair,
                Serie Expert, 300Ml
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$8.34</a></p>
        </div>
        <div class="col-md-4">
            <h2>Haldiram's Nagpur Bhujia Sev,400g</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/sanks.jpg" style="width:300px; height:300px" />
            <p>
                Haldiram's Nagpur Bhujia Sev,400g, Brand
                Haldiram's Nagpur,Flavour Spicy, Diet Type	Vegetarian
                Weight	400 Grams, Specialty	Suitable_for_vegetarians
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$1.27</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Puma Shoes</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/shoes.png" style="width:300px" ; height="300px" />
            <p>
                Kids White & Black X-Ray Jr Sneakers
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$42.45</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sony Earphone</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/earphone.png" style="width:300px" ;height="300px" />
            <p>
                SONY MDR-XB55AP/LQIN Wired Earphone with Mic (In Ear, Blue)
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$25.42</a></p>
        </div>
        <div class="col-md-4">
            <h2>Nosie Watch</h2>
            <img src="https://projectstorage444.blob.core.windows.net/image/watch.png" style="width:300px" ; height="300px" />
            <p>
                NoiseFit Agile 2 Buzz
            </p>
            <p><a class="btn btn-default" href="~/Customer/Login">$30.32</a></p>
        </div>
    </div>

</body>
</html>
